h2 {
  border-bottom: 1px dotted black;
  font-size: 18px;
}

#selection {
  background-color: #f6f8ff;
  margin: 5px;
  padding: 10px;
}

.choices-element {
  margin: 9px;
}

#file-description {
  margin: 5px;
  padding: 10px;
}

.box {
  margin: 20px;
}

.box-name {
  font-weight: bold;
}

.box-size {
  font-style: italic;
}

.box-description {
  font-style: italic;
  margin-bottom: 7px;
}

.value-object-prop {
  margin-left: 25px;
}

.value-object-line:nth-child(odd) {
  background-color: #eee;
}

.value-object-line:nth-child(even) {
  background-color: #ccc;
}

.value-object-line {
  padding: 10px;
}
